{% extends 'notes/base.html' %}

{% block title %} Add new note {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h1 class="display-4">Add new note</h1>
    <form method="POST" class="m-5" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {% for file in files %}
            <div class="form-group">
                <label>Current file:</label>
                <a href="{{ file.file.url }}" target="_blank">{{ file.filename }}</a>
            </div>
        {% endfor %}
        <button type="submit" name="add" class="btn btn-primary">Save</button>
    </form>
{% endblock %}