{% extends 'notes/base.html' %}

{% block title %} Notifications {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-3 mb-5">My notifications</h1>
        <div class="row">
    {% if notifications %}
        {% for notification in notifications %}
        
        <div class="col-md-12 mb-5 mt-5">
            <div class="card mx-auto bg-secondary">
                <div class="card-body">
                    <h5 class="card-title text-dark text-start fs-3">New notification!</h5>
                    <h6 class="card-subtitle mb-2 text-white-50 text-end">{{ notification.timestamp }}</h6>
                    <div class="card-text text-dark mb-5 bg-secondary mx-auto">
                        <h2 class="pt-5 text-start mb-5">{{ notification.message }}</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-1">
                            <form method="post" action="{% url 'decline_notification' notification.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </div>
                        <div class="col-md-4 mb-1">
                            <form method="post" action="{% url 'accept' notification.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-success" value="Accept">
                            </form>
                        </div>  
                        <div class="col-md-4 mt-1">
                            {% if notification.is_read %}
                                <a href="{% url 'check' notification.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-check-fill text-white checkmark" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                    </svg>
                                </a>
                            {% else %}
                                <a href="{% url 'check' notification.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-fill text-white checkmark" viewBox="0 0 16 16">
                                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="pagination justify-content-center mb-5">
            <span class="step-links">
                {% if notes.has_previous %}
                    <a href="?page={{ notes.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current-page">
                    Page {{ notes.number }} of {{ notes.paginator.num_pages }}.
                </span>

                {% if notes.has_next %}
                    <a href="?page={{ notes.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>There is no notifcations.</p>
    {% endif %}
        </div>
    </div>
{% endblock %}