{% extends 'notes/base.html' %}

{% block title %} {{ note.title }} {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4">{{ note.title }}</h1>
        {% if note.edit_dates %}
            <h1 class="display-6 text-muted mb-2 text-end"><i><a href="{% url 'stats' note.id %}">(edited)</a>  {{ note.add_date }}</i></h1>
        {% else %}
            <h1 class="display-6 text-muted mb-2 text-end"><i>{{ note.add_date }}</i></h1>
        {% endif %}
        <h1 class="display-6 text-muted mb-5 text-end"><i>Author - {{ note.user }}</i></h1>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="card text-dark mb-5 bg-secondary mx-auto">
            <div class="card-body">
                <h5 class="card-title text-dark text-start fs-3">Note:</h5>
                <h2 class="pt-5 text-start mb-5">{{ note.note_text | linebreaksbr }}</h2>
            </div>
        </div>
    </div>
    
    {% if note.notefile_set.all %}
        <div class="container">
            <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Images</h1>  
            <hr class="mt-2 mb-5">
            <div class="row text-center text-lg-start">
                {% for note_file in note.notefile_set.all %}
                    {% if note_file.extension|lower == '.png' or note_file.extension|lower == '.jpg' or note_file.extension|lower == '.jpeg' or note_file.extension|lower == '.gif' %}
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100" data-bs-toggle="modal" data-bs-target="#modal-id">
                                <img class="img-fluid img-thumbnail" src="{{ note_file.file.url }}" alt="">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <img class="img-fluid" src="" alt="" id="modal-image">
                </div>
              </div>
            </div>
        </div>

        <script>
            $('a[data-bs-toggle="modal"]').on('click', function(e) {
                e.preventDefault();
                var imageUrl = $(this).find('img').attr('src');
                $('#modal-image').attr('src', imageUrl);
            }); 
        </script>

        {% for note_file in note.notefile_set.all %}
            {% if note_file.extension|lower == '.mp4' or note_file.extension|lower == '.mkv' or note_file.extension|lower == '.avi' or note_file.extension|lower == '.wmv' or note_file.extension|lower == '.mov' %}
                <video style="width: 75%" controls>
                    <source src="{{ note_file.file.url }}" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            {% endif %}
        {% endfor %}

        <div class="container">
            <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Files</h1>  
            <hr class="mt-2 mb-5">
            <ul>
                {% for note_file in note.notefile_set.all %}
                    <li class="text-start">
                        <a href="{% url 'download' note_file.id %}">
                            {{ note_file.filename|slice:':30' }}{% if note_file.filename|length > 30 %}...{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    {% endif %}
    
    <div class="row">
        <div class="col-md-4 text-center mb-5">
            <form method="post" action="{% url 'delete' note.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
        <div class="col-md-4 text-center mb-5">
            <form method="post" action="{% url 'invite' note.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Invite">
            </form>
        </div>
        <div class="col-md-4 text-center mb-5">
            <form method="post" action="{% url 'edit' note.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary" value="Edit">
            </form>
        </div>
    </div>
    
{% endblock %}