{% extends 'notes/base.html' %}

{% block title %} {{ note.title }} {% endblock %}

{% block content %}
    <h1 class="display-4">{{ note.title }}</h1>
    {% if note.edit_dates %}
        <h1 class="display-6 text-muted mb-5 text-end"><i><a href="{% url 'stats' note.id %}">(edited)</a>  {{ note.add_date }}</i></h1>
    {% else %}
        <h1 class="display-6 text-muted mb-5 text-end"><i>{{ note.add_date }}</i></h1>
    {% endif %}

    <div class="card text-dark mb-5 bg-secondary w-75 mx-auto">
        <div class="card-body">
            <h5 class="card-title text-dark text-start fs-3">Note:</h5>
            <h2 class="pt-5 text-start mb-5">{{ note.note_text | linebreaksbr }}</h2>
        </div>
    </div>
    
    {% if note.notefile_set.all %}
        {% for note_file in note.notefile_set.all %}
            {% if note_file.extension|lower == '.png' or note_file.extension|lower == '.jpg' or note_file.extension|lower == '.jpeg' or note_file.extension|lower == '.gif' %}
                <img src="{{ note_file.file.url }}" alt="Image" class="img-fluid mb-5">
            {% endif %}
        {% endfor %}

        {% for note_file in note.notefile_set.all %}
            {% if note_file.extension|lower == '.mp4' or note_file.extension|lower == '.mkv' or note_file.extension|lower == '.avi' or note_file.extension|lower == '.wmv' or note_file.extension|lower == '.mov' %}
                <video style="width: 75%" controls>
                    <source src="{{ note_file.file.url }}" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            {% endif %}
        {% endfor %}

        <ul>
            {% for note_file in note.notefile_set.all %}
                <li class="text-start">
                    <a href="{% url 'download' note_file.id %}">{{ note_file.filename }}</a>
                </li>
            {% endfor %}
        </ul>

    {% endif %}
    
    <div class="row">
        <div class="col-md-6 text-center mb-5">
            <form method="post" action="{% url 'delete' note.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
        <div class="col-md-6 text-center mb-5">
            <form method="post" action="{% url 'edit' note.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary" value="Edit">
            </form>
        </div>
    </div>
    
{% endblock %}