{% extends 'notes/base.html' %}

{% block title %} My notes {% endblock %}

{% block content %}
    <h1 class="display-3 mb-5">My notes</h1>
    {% if notes %}
    <ul class="list-group d-inline-block fs-5">
    {% for note in notes %}
        <li class="list-group-item list-group-item-action list-group-item-dark p-4"><a href="{% url 'show' note.id %}" class="text-decoration-none">{{ note.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No notes are available.</p>
    {% endif %}
{% endblock %}