{% extends 'notes/base.html' %}
{% load crispy_forms_filters %}

{% block title %} Add new note {% endblock %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <div class="w-xl-50 w-lg-50 w-md-25 w-sm-75 mt-5 mx-auto">
                <form method="POST" class="fs-3" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if files %}
                        <label>{% trans 'Current files:'%}</label>
                    {% endif %}
                    {% for file in files %}
                        <div class="form-group">
                            <a href="{{ file.file.url }}" target="_blank" class="file-link">{{ file.filename|slice:':20' }}{% if file.filename|length > 20 %}...{% endif %}</a>
                        </div>
                    {% endfor %}
                    <button type="submit" name="add" class="btn btn-primary mt-2 mb-1 fs-3">{% trans 'Save' %}</button>
                </form>
            </div>
        
        </div>

    
    </div>
{% endblock %}