{% extends 'notes/base.html' %}

{% block title %} NoteApp {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="display-3">Welcome {{ user }} on NoteApp!</h1>
    {% else %}
        <h1 class="display-3">Welcome on NoteApp!</h1>
    {% endif %}
    <br><br>
    <p class="h4">You can make your own notes here.</p>
    <p class="h4">Also you can add image to your note!</p>

    {% if user.is_authenticated and last_note%}
        <h1 class="display-5 mt-5">Your last note:</h1>

        <a class="btn btn-primary m-2 p-4 fs-4" href="{% url 'show' last_note.id %}">{{ last_note.title }}</a>
    {% endif %}
    {% if unread_notifications %}
        <h1 class="display-5 mt-5">You have {{ unread_notifications }} unread notification{{ unread_notifications|pluralize }}.</h1>
        <a href="{% url 'show_notifications' %}" class="btn btn-primary fs-4 p-4 m-2">See</a>
    {% endif %}
{% endblock %}