{% extends 'notes/base.html' %}

{% block title %}Profile{% endblock%}

{% load static %}

{% block content %}
    <div class="container mb-5">
        <div class="card mx-auto mt-5" style="background-color: #C3CEDA; width: 75%">
            <div class="card-header ps-3 pt-3">
                <h1 class="display-3 text-start">Hello {% if user.first_name %} {{ user.first_name }}{% else %} {{ user.username }}{% endif %}!</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="display-5 card-title text-start">Informations</h1>
                        <hr>
                        <p class="card-text h1 text-start">First name: <br><span style="color: #e8594f;">{% if user.first_name %}{{ user.first_name }}{% else %}<br>{% endif %}</span></p>
                        <p class="card-text h1 text-start">Last name: <br><span style="color: #e8594f;">{% if user.last_name %}{{ user.last_name }}{% else %}<br>{% endif %}</span></p>
                        <p class="card-text h1 text-start mb-3">E-mail: <br><span style="color: #e8594f;">{{ user.email }}</span></p>
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 card-title text-start">Summary</h1>
                        <hr>
                        <div style="display: flex; justify-content: space-between;">
                            <p class="card-text h1 text-start d-inline">All notes:</p>
                            <p class="h1 text-end d-inline"><span style="color: #e8594f;">{{ all_notes }}</span></p>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="display: flex; justify-content: space-between;">
                                    <p class="card-text h1 text-start">Other:</p>
                                    <p class="h1 text-end d-inline"><span style="color: #e8594f;">{{ other_cat }}</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="display: flex; justify-content: space-between;">
                                    <p class="card-text h1 text-start">Private:</p>
                                    <p class="h1 text-end d-inline"><span style="color: #e8594f;">{{ private_cat }}</span></p>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="display: flex; justify-content: space-between;">
                                    <p class="card-text h1 text-start">Work:</p>
                                    <p class="h1 text-end d-inline"><span style="color: #e8594f;">{{ work_cat }}</span></p>
                                </div>                            
                            </div>
                            <div class="col-md-6">
                                <div style="display: flex; justify-content: space-between;">
                                    <p class="card-text h1 text-start">School:</p>
                                    <p class="h1 text-end d-inline"><span style="color: #e8594f;">{{ school_cat }}</span></p>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="display: flex; justify-content: space-between;">
                                    <p class="card-text h1 text-start">Cooking:</p>
                                    <p class="h1 text-end d-inline"><span style="color: #e8594f;">{{ cooking_cat }}</span></p>
                                </div>                            
                            </div>
                            <div class="col-md-6">
                                <div style="display: flex; justify-content: space-between;">
                                    <p class="card-text h1 text-start">Travel:</p>
                                    <p class="h1 text-end d-inline"><span style="color: #e8594f;">{{ travel_cat }}</span></p>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="display: flex; justify-content: space-between;">
                                    <p class="card-text h1 text-start">Shopping:</p>
                                    <p class="h1 text-end d-inline"><span style="color: #e8594f;">{{ shopping_cat }}</span></p>
                                </div>                            
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'edit_profile' user.id %}" class="btn btn-primary mt-3 fs-5">Edit informations</a>        
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'show_notes' %}" class="btn btn-primary mt-3 fs-5">See notes</a>        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}