{% extends 'notes/base.html' %}
{% load i18n %}

{% block title %} {% trans 'Profile' %} {% endblock%}

{% load static %}

{% block content %}
    <div class="container mb-5">
        <div class="card mx-auto mt-5" style="background-color: #C3CEDA; width: 85%;">
            <div class="card-header ps-3 pt-3">
                <h1 class="display-3 text-start">{% trans 'Hello' %} {% if user.first_name %} {{ user.first_name }}{% else %} {{ user.username }}{% endif %}!</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="display-5 card-title text-start">{% trans 'Informations' %}</h1>
                        <hr>
                        <p class="card-text h1 text-start">{% trans 'First name:' %} <br><span style="color: #e8594f;">{% if user.first_name %}{{ user.first_name }}{% else %}<br>{% endif %}</span></p>
                        <p class="card-text h1 text-start">{% trans 'Last name:' %} <br><span style="color: #e8594f;">{% if user.last_name %}{{ user.last_name }}{% else %}<br>{% endif %}</span></p>
                        <p class="card-text h1 text-start mb-3">E-mail: <br><span style="color: #e8594f;">{{ user.email }}</span></p>

                        <p class="card-text h3 text-start mt-5">{% trans 'Choose language:' %}</p>
                        <form action="{% url 'set_language' %}" method="post" id="language-form" onsubmit="return changeLanguage()" class="text-start">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}">
                            <select name="language" id="language-select" class="form-control" style="width: 80px">
                                <option value="pl" {% if request.LANGUAGE_CODE == "pl" %}selected{% endif %}>Polski</option>
                                <option value="en" {% if request.LANGUAGE_CODE == "en" %}selected{% endif %}>English</option>
                            </select>
                            <input type="submit" value="{% trans 'Change' %}" class="btn btn-primary mt-2 fs-6">
                        </form>
                        
                        <script>
                            function changeLanguage() {
                                const selectedLanguage = document.querySelector('#language-select').value;
                                const form = document.querySelector('#language-form');
                                const action = form.action;
                                form.action = action + '?language=' + selectedLanguage;
                                return true;
                            }
                        </script>
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 card-title text-start">{% trans 'Summary' %}</h1>
                        <hr>
                        <div class="chart-container" style="position: relative; height: 85%; width: 100%;">
                            <canvas id="myChart"></canvas>
                        </div>
                          
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                          
                        <script>
                        const ctx = document.getElementById('myChart');
                        
                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: {{ labels|safe }},
                                datasets: [{
                                    label: '{% trans "Number of notes" %}',
                                    data: {{ data|safe }},
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scaleShowValues: true,
                                responsive: true,
                                maintainAspectRatio: false,
                                scales: {
                                    y: {
                                        beginAtZero:true,
                                        ticks: {
                                            stepSize: 1,
                                            font: {
                                                size: 20,
                                            }
                                        }
                                    },
                                    x: {
                                        ticks: {
                                            font: {
                                                size: 20,
                                            },
                                            autoSkip: false
                                        }
                                    }
                                },
                                plugins: { 
                                    title: {
                                    display: true, 
                                    text: "{% trans 'Number of notes in each category' %}" ,
                                    padding: {
                                        top: 10,
                                        bottom: 10
                                    },
                                    font: {
                                        size: 20,
                                    }
                                }
                              }
                            }
                        });
                        </script>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'edit_profile' user.id %}" class="btn btn-primary mt-3 fs-5">{% trans 'Edit informations' %}</a>        
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'show_notes' %}" class="btn btn-primary mt-3 fs-5">{% trans 'See notes' %}</a>        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}