{% extends 'notes/base.html' %}

{% block title %}Reminders{% endblock%}

{% block content %}
    <div id="calendar"></div>
 
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'UTC',
            themeSystem: 'bootstrap5',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: window.innerWidth < 576 ? 'timeGridDay,listMonth' : 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
            weekNumbers: true,
            dayMaxEvents: true,
            events: "{% url 'events' %}",
            aspectRatio: 2,
            eventTimeFormat: { 
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            },
            initialView: window.innerWidth < 576 ? 'timeGridDay' : 'dayGridMonth',
            height: window.innerWidth < 576 ? '90%' : '90%',
            allDaySlot: false,
            {% if request.LANGUAGE_CODE == 'pl' %}
                buttonText: {
                    today: "Dzisiaj",
                    month: "Miesiąc",
                    week: "Tydzień",
                    day: "Dzień",
                    list: "Lista",
                }
            {% endif %}
        });
        {% if request.LANGUAGE_CODE == 'pl' %}
            calendar.setOption('locale', 'pl');
        {% endif %}
        calendar.render();
        });
    </script>
{% endblock %}