{% extends 'notes/base.html' %}
{% load i18n %}
{% block title %} My notes {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-3 mb-5">{% trans 'My notes' %}</h1>
        <form action="{% url 'show_notes' %}" method="get">
            <div class="row">
                <div class="col-md-4">
                    {% if searched %}
                        <input name="q" type="text" class="fs-5" placeholder="{% trans 'Search...'%}" style="border-radius: 8px;", value="{{ searched }}">
                    {% else %}
                        <input name="q" type="text" class="fs-5" placeholder="{% trans 'Search...'%}" style="border-radius: 8px;">
                    {% endif %}
                </div>
                <div class="col-md-4 fs-5">
                    <select name="category" type="text" class="p-2" aria-label="Select category" style="width: auto; border-radius: 8px;">
                        <option selected>{% trans 'All' %}</option>
                        {% for category in categories %}
                            <option value="{{ category.slug }}" {% if category.slug == selected_category %} selected {% endif %}>{% if current_language == 'en' %}{{ category.name }}{% else %}{{ category.name_pl }}{% endif %}</option>
                        {% endfor %}
                    </select>    
                </div>
                <div class="col-md-4 fs-5">
                    <select name="sortby" type="text" class="p-2" aria-label="Sort by" style="width: auto; border-radius: 8px;">
                        <option selected>{% trans 'Latest' %}</option>
                        <option value="Oldest" {% if sort_value == 'Oldest' %} selected {% endif %}>{% trans 'Oldest' %}</option>
                        <option value="A-z" {% if sort_value == 'A-z' %} selected {% endif %}>A-z</option>
                        <option value="Z-a" {% if sort_value == 'Z-a' %} selected {% endif %}>Z-a</option>
                    </select>    
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg ms-2 mt-3 fs-5" id="button-search">{% trans 'Search' %}</button>       
        </form>        

      

    {% if notes %}
        {% for note in notes %}
        
        <div class="col-md-12 mb-5">
            <div class="card mx-auto mt-5 w-xl-25 w-lg-25 w-md-25 w-sm-75" style="background-color: #738FA7;">
                <div class="card-body">
                {% if note.user != user %}
                    <h5 class="card-title text-dark text-start fs-3">{{ note.title }} - {{ note.user }}</h5>
                    <p class="card-title text-dark text-start fs-4 fst-italic">{% if current_language == 'en' %}{{ note.category.name }}{% else %}{{ note.category.name_pl }}{% endif %}</p>
                {% else %}
                    <h5 class="card-title text-dark text-start fs-3">{{ note.title }}</h5>
                    <p class="card-title text-dark text-start fs-4 fst-italic">{% if current_language == 'en' %}{{ note.category.name }}{% else %}{{ note.category.name_pl }}{% endif %}</p>
                {% endif %}
                <h6 class="card-subtitle mb-2 text-white-75 text-end">{{ note.add_date|date:'d-m-Y H:i:s' }}</h6>
                <a href="{% url 'show' note.id %}" class="btn btn-primary mt-3 fs-5">{% trans 'See note' %}</a>
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="pagination justify-content-center mb-5">
            <ul class="pagination">
                {% if notes.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ notes.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if searched %}&q={{ searched }}{% endif %}{% if sort_value %}&sortby={{ sort_value }}{% endif %}">
                            {% trans 'Previous' %}
                        </a>
                    </li>
                {% endif %}
        
                <li class="page-item active">
                    <span class="page-link">
                        {% trans 'Page' %} {{ notes.number }} {% trans 'of' %} {{ notes.paginator.num_pages }}
                    </span>
                </li>
        
                {% if notes.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ notes.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if searched %}&q={{ searched }}{% endif %}{% if sort_value %}&sortby={{ sort_value }}{% endif %}">
                            {% trans 'Next' %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        <h1 class="display-5 mt-5">{% trans 'No notes are available.' %}</h1>
    {% endif %}
        </div>
    </div>
{% endblock %}