{% extends 'notes/base.html' %}

{% block title %} {{ note.title }} {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1 class="display-4">{{ note.title }}</h1>
        {% if note.edit_dates %}
            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-6 text-muted mb-2 text-start"><i>{{ note.category.name }}</i></h1>
                </div>
                <div class="col-md-6">
                    <h1 class="display-6 text-muted mb-2 text-end"><i><a href="{% url 'stats' note.id %}">(edited)</a>  {{ note.add_date }}</i></h1>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-6 text-muted mb-2 text-start"><i>{{ note.category.name }}</i></h1>
                </div>
                <div class="col-md-6">
                    <h1 class="display-6 text-muted mb-2 text-end"><i>{{ note.add_date }}</i></h1>
                </div>
            </div>
        {% endif %}
        <h1 class="display-6 text-muted mb-5 text-end"><i>Author - {{ note.user }}</i></h1>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="card text-dark mb-5 mx-auto" style="background-color: #C3CEDA;">
            <div class="card-body">
                <h2 class="pt-5 text-start mb-5 display-5">{{ note.note_text | linebreaksbr }}</h2>
            </div>
        </div>
    </div>
    
    {% if note.notefile_set.all %}
        <div class="container">
            <div class="row text-center text-lg-start">
                {% for note_file in note.notefile_set.all %}
                    {% if note_file.extension|lower == '.png' or note_file.extension|lower == '.jpg' or note_file.extension|lower == '.jpeg' or note_file.extension|lower == '.gif' %}
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100" data-bs-toggle="modal" data-bs-target="#modal-id">
                                <img class="img-fluid img-thumbnail" src="{{ note_file.file.url }}" alt="">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <img class="img-fluid" src="" alt="" id="modal-image">
                </div>
              </div>
            </div>
        </div>

        <script>
            $('a[data-bs-toggle="modal"]').on('click', function(e) {
                e.preventDefault();
                var imageUrl = $(this).find('img').attr('src');
                $('#modal-image').attr('src', imageUrl);
            }); 
        </script>

        {% for note_file in note.notefile_set.all %}
            {% if note_file.extension|lower == '.mp4' or note_file.extension|lower == '.mkv' or note_file.extension|lower == '.avi' or note_file.extension|lower == '.wmv' or note_file.extension|lower == '.mov' %}
                <video style="width: 75%" controls>
                    <source src="{{ note_file.file.url }}" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            {% endif %}
        {% endfor %}

        <div class="container">
            <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Files</h1>  
            <hr class="mt-2 mb-5">
            <ul>
                {% for note_file in note.notefile_set.all %}
                <div class="row">
                    <div class="col-md-6">
                        <li class="text-start mb-3">
                            <a href="{% url 'download' note_file.id %}">
                                {{ note_file.filename|slice:':30' }}{% if note_file.filename|length > 30 %}...{% endif %}
                            </a>
                        </li>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'delete_file' note_file.id note.id %}" class="btn btn-danger p-1 confirm-delete">X</a>
                    </div>

                </div>

                {% endfor %}
            </ul>
        </div>

    {% endif %}

    <div class="container mb-5">
        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Members</h1>  
        <hr class="mt-2 mb-5">
        <div class=" d-flex justify-content-center">
            <ul class="list-group">
                {% for member in note.members %}
                    <li class="list-group-item text-white fs-3" style="background-color: #051537; border-color: #777b8c;">{{ member }} {% if member != note.user.username and note.user == user %} <a href="{% url 'delete_member' note.id member %}" class="btn btn-danger p-1 ms-3 confirm-delete"> </a> {% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="container">
        <hr class="mt-2 mb-5">
    </div>

    <div class="row">
        {% if note.user == user %}
            <div class="col-md-4 text-center mb-5">
                <form method="post" action="{% url 'delete' note.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger confirm-delete fs-4" value="Delete">
                </form>
            </div>
        {% endif %}
        <div class="col-md-4 text-center mb-5">
            <button type="button" class="btn btn-primary fs-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Settings
            </button>
          
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="exampleModalLabel">Note's settings</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="w-xl-50 w-lg-50 w-md-25 w-sm-75 mx-auto">
                                <form method="post" action="{% url 'invite' note.id %}" class='text-dark fs-5' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="submit" class="btn btn-success fs-5" value="Invite">
                                </form>   
                                {% if user == note.user %}
                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="text-dark fs-5">Allow edits?</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-switch d-flex justify-content-center">
                                                    {% if note.allow_edits %}
                                                        <input class="form-check-input fs-5 mt-4" type="checkbox" id="edit_switch" checked>
                                                    {% else %}
                                                        <input class="form-check-input fs-5 mt-4" type="checkbox" id="edit_switch">
                                                    {% endif %}   
                                                </div>

                                                <script>
                                                    const switchCheckbox = document.getElementById('edit_switch');
                                                  
                                                    switchCheckbox.addEventListener('change', function() {
                                                        window.location.href = "/{{ note.id }}/check_edit";
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>      
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% if user == note.user or note.allow_edits %}
            <div class="col-md-4 text-center mb-5">
                <form method="post" action="{% url 'edit' note.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary fs-4" value="Edit">
                </form>
            </div>
        {% endif %}
    </div>

    <script>
        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this?');
        })
    </script>
    
{% endblock %}